<head>
    <link rel="stylesheet" href="app.css" type="text/css">
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous">
    </script>
</head>

<body>
    <header>
    <h1>Recipe <span>List </span></h1>
    <h2>A simple Recipe App</h2>
    </header>
      <section class="form">
    <input type="text" id="ingredientInput" placeholder="Insert your item here...">
  
    
    <label for="amount">amount</label>
    <select class="form-control" id="amount">
      <option>1/4</option>
      <option>1/2</option>
      <option>3/4</option>
      <option>1</option>
     </select>
     </section>
  
  <label for="measurement">measurement</label>
    <select class="form-control up" id="value">
      <option>cup</option>
      <option>teaspoon</option>
      <option>Tablespoon</option>
      <option>oz</option>
      <option>lbs</option>
     </select>
     </section>
  <ul class="list">
  </ul>

     
<script type="text/javascript" src="app.js"></script>
</body>
